<div class="caja-autor">
  <h2 class="author">Jose Ignacio Cortés</h2>
  <div class="foto">
    <img src="images/foto.jpg" id="img" width="100px"  height="100px" />
  </div>
</div>
<div class="caja-video">
  <video controls="controls">
    <source src="videos/tentacle.mp4" type="video/mp4"/>
  </video>
</div>