<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal que nos obligan a hacer para aprobar el curso. 8-P</p>
    <p><a href="/quizes/question">Comience a Jugar</a></p>
  </body>
</html>
