body {
	background: #333;
}

#page-wrap:after {
	content: "Smartphone Layout";
}

h2 span, section h3 {
	display: none;
}
body {
	font-size: large;
}
footer, input {
	font-size: large;
	text-align: center;
}

section {
	width: 95.5%;
	height: 400px;
}

.foto {
    width: 100px;
    height: 100px;
}

.author {
	text-align: left;
}

.caja-autor {
	float: left;
	width: 250px;
	height: 150px;
}

.caja-video {
	height: 190px;
	float: left;
}

video {
	height: 180px;
}