* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
body {
	font: 16px "Georgia", serif;
}

#page-wrap { 
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section > div {
	padding: 20px;
}
header, nav, section {
	background: #eee;
	text-align: center;
}
footer {
	background: #eee;
	text-align: center;
}

nav, span {
	margin: 0px 10px 0px 0px;
}

section {
	width: 80%;
	height: 400px;
}

.foto {
    width: 100px;
    height: 100px;
}

.author {
	text-align: left;
}

.caja-autor {
	float: left;
	width: 250px;
	height: 150px;
}

.caja-video {
	height: 190px;
	float: left;
}

video {
	height: 180px;
}